In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 使用del 来进行数据的删除的啦，是不是啦
data = {
    "do":[1,2 ,3],
    "re":[4,5, 6],
    'mi':[7, 8, 9]
}

In [5]:
obj = pd.DataFrame(data, index = (1, 2, 3, ))

In [6]:
obj

   do  re  mi
1   1   4   7
2   2   5   8
3   3   6   9

In [9]:
# 重新索引, 这里其实只是复制的值而已啦
obj1 = obj.reindex(['a', 'b', 'c'])
obj1

   do  re  mi
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN

In [10]:
# series中的reindex
obj3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

In [11]:
obj3

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
obj4 = obj3.reindex(['d', 'a', 'c', 'b'])
obj4

d    4
a    1
c    3
b    2
dtype: int64

In [18]:
# dataframe中的reindex
data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
obj5 = pd.DataFrame(data, index=['a', 'b', 'c'],
                   columns=['do', 're', 'mi'])

In [20]:
obj5

   do  re  mi
a   1   2   3
b   4   5   6
c   7   8   9

In [23]:
obj6 = obj5.reindex(['c', 'a', 'b'])
obj6

   do  re  mi
c   7   8   9
a   1   2   3
b   4   5   6

### END