In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### 索引选取和过滤

In [2]:
# Series 
obj = pd.Series(np.arange(5.0), index=['a', 'b', 'c', 'd', 'e'])

In [3]:
obj['a']

0.0

In [4]:
obj['a':'d']

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [5]:
obj['a':'b'] = 6.0
obj

a    6.0
b    6.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [6]:
# 当然，我们的索引值还是可以用整数来进行运算的，拉拉
obj[4]

4.0

In [7]:
obj[obj >= 6]

a    6.0
b    6.0
dtype: float64

In [8]:
# Dataframe
obj2 = pd.DataFrame(np.arange(15).reshape(5, 3),
                   index=['a', 'b', 'c', 'd', 'e'],
                   columns=['do', 're', 'mi'])

In [9]:
obj2

   do  re  mi
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [10]:
obj2['do']

a     0
b     3
c     6
d     9
e    12
Name: do, dtype: int32

In [12]:
obj2[:2]

   do  re  mi
a   0   1   2
b   3   4   5

In [14]:
obj2[['do', 'mi']]

   do  mi
a   0   2
b   3   5
c   6   8
d   9  11
e  12  14

In [16]:
obj2 < 5

      do     re     mi
a   True   True   True
b   True   True  False
c  False  False  False
d  False  False  False
e  False  False  False

### END