In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
# Dataframe
obj2 = pd.DataFrame(np.arange(15).reshape(5, 3),
                   index=['a', 'b', 'c', 'd', 'e'],
                   columns=['do', 're', 'mi'])
obj2

   do  re  mi
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [5]:
# 使用loc来进行位置的选取, 第一个元素需要是index的才行哈，是不是呢，天才们呀
obj2.loc['a', ['do', 'mi']]

do    0
mi    2
Name: a, dtype: int32

In [10]:
# 使用iloc来进行位置的选取, 下标还是从0开始的，这点我们需要多去注意才行哈，是不是呢，我的天才们呀，
obj2.iloc[1, [1, 2]]

re    4
mi    5
Name: b, dtype: int32

In [12]:
obj2.iloc[2]

do    6
re    7
mi    8
Name: c, dtype: int32

In [14]:
# 进行切片的操作呀,还是很不错的，我的天才们呢，哈哈
obj2.loc[:'c','re']

a    1
b    4
c    7
Name: re, dtype: int32

In [15]:
obj2.iloc[:, :3][obj2.mi > 5] # 是不是很cool呢，我的天才们呀，是不是很有意思的想法呀，哈哈

   do  re  mi
c   6   7   8
d   9  10  11
e  12  13  14

### END