In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### 汇总和计算描述统计

In [2]:
frame = pd.DataFrame([[1, 2],[np.nan, np.nan], [1, np.nan]],
                    index=['one', 'two', 'three'],
                    columns=[1, 2])
frame

         1    2
one    1.0  2.0
two    NaN  NaN
three  1.0  NaN

In [3]:
frame.sum()  # 我们nan值不会被计算进去

1    2.0
2    2.0
dtype: float64

In [4]:
frame.sum(axis = 1)

one      3.0
two      0.0
three    1.0
dtype: float64

In [5]:
# 我们可以使用参数skipna来进行设置的啦
frame.sum(axis = 1, skipna=False)

one      3.0
two      NaN
three    NaN
dtype: float64

In [6]:
frame.mean() # 求解均值啦，是不是很cool呢，哈哈

1    1.0
2    2.0
dtype: float64

In [7]:
frame.idxmax()

1    one
2    one
dtype: object

In [11]:
frame.idxmin(axis=1)

one      1.0
two      NaN
three    1.0
dtype: float64

In [9]:
frame.describe()

         1    2
count  2.0  1.0
mean   1.0  2.0
std    0.0  NaN
min    1.0  2.0
25%    1.0  2.0
50%    1.0  2.0
75%    1.0  2.0
max    1.0  2.0

### END