In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### 数据的读取和加载

In [2]:
%%html
<img src='./img/01.png', width=400, height=400>

In [3]:
df = pd.read_csv('./data/ex1.csv')
df

   a   b   c   d  message
0  1   2   3   4    hello
1  5   6   7   8    world

In [4]:
# df2 = pd.read_table('./data/ex1.csv', sep=',')
df2 = pd.read_table('./data/ex1.csv')  # read_table 默认是制表字符进行分割，所以我们还需要进行指定sep
df2

  a, b, c, d, message
0   1, 2, 3, 4, hello
1   5, 6, 7, 8, world

In [5]:
pd.read_csv('./data/ex1.csv', header=None)

   0   1   2   3         4
0  a   b   c   d   message
1  1   2   3   4     hello
2  5   6   7   8     world

In [6]:
# 可以通过指定names属性来进行header的指定
names = ['do', 're', 'mi', 'fa', 'la']
pd.read_csv('./data/ex1.csv', header=None, names=names)

  do  re  mi  fa        la
0  a   b   c   d   message
1  1   2   3   4     hello
2  5   6   7   8     world

In [25]:
pd.read_csv('./data/ex1.csv',header=None,  index_col=[0, 1]) # 指定第一行，第二行作为索引列

       2   3         4
0 1
a  b   c   d   message
1  2   3   4     hello
5  6   7   8     world

In [31]:
pd.read_table('./data/ex1.csv', sep=',', header=None)

   0   1   2   3         4
0  a   b   c   d   message
1  1   2   3   4     hello
2  5   6   7   8     world

In [32]:
pd.read_table('./data/ex1.csv', sep=',', header=None)

         0    1    2    3         4
0        a    b    c    d   message
1        1    2    3    4     hello
2        5    6    7    8     world
3  # lala   NaN  NaN  NaN       NaN

In [42]:
# 使用skiprows来可以选择弃用某行
pd.read_csv('./data/ex1.csv', header=None, skiprows=[4])

   0   1   2   3         4
0  a   b   c   d   message
1  1   2   3   4     hello
2  5   6   7   8     world

In [50]:
# 选取某几列的数值
pd.read_csv('./data/ex1.csv', header=None, usecols=[1,2])

     1    2
0    b    c
1    2    3
2    6    7
3  NaN  NaN

### END