In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [3]:
pd.options.display.max_rows = 2  # 设置显示的最大的行数为2行

In [4]:
df = pd.read_csv('./data/ex1.csv')
df

          a    b    c    d  message
0         1  2.0  3.0  4.0    hello
..      ...  ...  ...  ...      ...
2   # lala   NaN  NaN  NaN      NaN

[3 rows x 5 columns]

In [5]:
df2 = pd.read_csv('./data/ex1.csv', nrows = 2)
df2

   a   b   c   d  message
0  1   2   3   4    hello
1  5   6   7   8    world

In [6]:
df2  # 有点失策，居然不是一种迭代器的效果，哈

   a   b   c   d  message
0  1   2   3   4    hello
1  5   6   7   8    world

In [11]:
chunkers = pd.read_csv('./data/ex1.csv', chunksize=2)  # 我知道啥意思啦，是不是呢，哈哈，真是可以哈
chunkers

In [13]:
for chunker in chunkers:
    print(chunker)

### END