In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [5]:
# 丢弃指定轴上的项
obj = pd.Series(np.arange(5.0), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [7]:
# 丢弃，用drop函数, 其实我们还是只是对副本进行操作而已啦,
obj2 = obj.drop('a')
obj2

b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [8]:
# 丢弃掉整行的元素啦
obj3 = obj.drop(['a', 'b'])
obj3

c    2.0
d    3.0
e    4.0
dtype: float64

In [13]:
# 删除掉整列元素
obj5 = pd.DataFrame(np.arange(25).reshape(5, 5), index=['a', 'b', 'c', 'd', 'e'], columns=['do', 're', 'mi', 'fa', 'la'])
obj5

   do  re  mi  fa  la
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [14]:
# 删除掉整列
obj6 = obj5.drop('do', axis=1)
obj6

   re  mi  fa  la
a   1   2   3   4
b   6   7   8   9
c  11  12  13  14
d  16  17  18  19
e  21  22  23  24

In [15]:
# 如果要对原来的数据进行操作，则inplace=true就可以
obj5.drop('do', axis=1, inplace=True)
obj5

   re  mi  fa  la
a   1   2   3   4
b   6   7   8   9
c  11  12  13  14
d  16  17  18  19
e  21  22  23  24

### END