In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### 算术运算和数据对齐

In [5]:
ser1 = pd.Series(np.arange(4), index=['a', 'c', 'd', 'e'])
ser2 = pd.Series(np.arange(5, 10), index=['a', 'c', 'e', 'f', 'g'])

In [7]:
ser1

a    0
c    1
d    2
e    3
dtype: int32

In [8]:
ser2

a    5
c    6
e    7
f    8
g    9
dtype: int32

In [9]:
ser1 + ser2  # index木有重复的值会变成nan来进行填充啦，是不是呢，我的天呀

a     5.0
c     7.0
d     NaN
e    10.0
f     NaN
g     NaN
dtype: float64

In [10]:
# 对于dataframe来说，会在index和columns上，进行对齐，如果补重复则为nan
obj1 = pd.DataFrame(np.arange(9).reshape(3, 3), index=['a', 'b', 'c'], columns=['do', 're', 'mi'])
obj2 = pd.DataFrame(np.arange(9).reshape(3, 3), index=['a', 'b', 'd'], columns=['do', 're', 'si'])

In [11]:
obj1

   do  re  mi
a   0   1   2
b   3   4   5
c   6   7   8

In [12]:
obj2

   do  re  si
a   0   1   2
b   3   4   5
d   6   7   8

In [13]:
obj1 + obj2

    do  mi   re  si
a  0.0 NaN  2.0 NaN
b  6.0 NaN  8.0 NaN
c  NaN NaN  NaN NaN
d  NaN NaN  NaN NaN

### END

### True END