In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
obj1 = pd.DataFrame(np.arange(1, 7).reshape(3,-1), index=['a', 'b', 'c'], columns=['do', 're'])

In [3]:
obj1

   do  re
a   1   2
b   3   4
c   5   6

In [4]:
1/ obj1

         do        re
a  1.000000  0.500000
b  0.333333  0.250000
c  0.200000  0.166667

In [6]:
obj1.rdiv(1)  # 1 div obj1 == obj rdiv 1 相反的操作，要注意一下才可以哈，哦，我的上帝

         do        re
a  1.000000  0.500000
b  0.333333  0.250000
c  0.200000  0.166667

In [7]:
obj1.add(3)

   do  re
a   4   5
b   6   7
c   8   9

In [9]:
obj1.radd(3) # 是一样的啦，是不是呢，天才们呀！

   do  re
a   4   5
b   6   7
c   8   9

### dataFrame and Series之间的运算

In [12]:
# 类似与数组的
arr = np.arange(16.0).reshape(4, 4)
arr0 = arr[0]

In [13]:
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.],
       [12., 13., 14., 15.]])

In [15]:
arr - arr0

array([[ 0.,  0.,  0.,  0.],
       [ 4.,  4.,  4.,  4.],
       [ 8.,  8.,  8.,  8.],
       [12., 12., 12., 12.]])

##### 下节课在进行讲解哈哈

### END