In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
frame = pd.DataFrame(np.arange(16.0).reshape(4, 4), index=['a', 'b', 'c', 'd'],
                    columns=['do', 're', 'mi', 'fa'])
frame

     do    re    mi    fa
a   0.0   1.0   2.0   3.0
b   4.0   5.0   6.0   7.0
c   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0

In [3]:
serier3 = frame['mi']

In [4]:
serier3

a     2.0
b     6.0
c    10.0
d    14.0
Name: mi, dtype: float64

In [9]:
# 在列上进行相减
frame.sub(serier3, axis='index') # frame.sub(serier3, axis=0)

    do   re   mi   fa
a -2.0 -1.0  0.0  1.0
b -2.0 -1.0  0.0  1.0
c -2.0 -1.0  0.0  1.0
d -2.0 -1.0  0.0  1.0

`python
    print("函数应用和映射")`

In [11]:
frame1 = pd.DataFrame(np.random.randn(4, 4), index=['a', 'b', 'c', 'd'],
                    columns=['do', 're', 'mi', 'fa'])
frame1

         do        re        mi        fa
a  0.740770 -0.161360 -0.054576  0.728503
b  0.585177  0.863635  1.331785 -0.059694
c  1.810666  0.847654 -0.147575  0.788721
d  0.746308 -1.734848 -0.360490  0.916854

In [14]:
np.abs(frame1)  # 进行取绝对值啦，是不是呢，我的宝贝们，哈哈

         do        re        mi        fa
a  0.740770  0.161360  0.054576  0.728503
b  0.585177  0.863635  1.331785  0.059694
c  1.810666  0.847654  0.147575  0.788721
d  0.746308  1.734848  0.360490  0.916854

In [17]:
# lambda 匿名函数
f = lambda x : x.max() - x.min()
frame1.apply(f, axis=1)  # 也是可以进行轴的选择的，是不是很cool呢，我的天才们呀，啊哈哈

a    0.902130
b    1.391479
c    1.958241
d    2.651702
dtype: float64

In [19]:
# 调整存储的格式
format = lambda x : '%0.2f'%x
frame1.applymap(format)

     do     re     mi     fa
a  0.74  -0.16  -0.05   0.73
b  0.59   0.86   1.33  -0.06
c  1.81   0.85  -0.15   0.79
d  0.75  -1.73  -0.36   0.92

In [22]:
# 那么我们也可以对单列来进行这样的存储类型
frame1['do'].map(format)

a    0.74
b    0.59
c    1.81
d    0.75
Name: do, dtype: object

### END