In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### 排序和排名

In [3]:
ser1 = pd.Series(np.arange(5.0), index=['b', 'd', 'a', 'c', 'e'])
ser1

b    0.0
d    1.0
a    2.0
c    3.0
e    4.0
dtype: float64

In [5]:
ser1.sort_index()

a    2.0
b    0.0
c    3.0
d    1.0
e    4.0
dtype: float64

In [6]:
frame = pd.DataFrame(np.arange(16.0).reshape(4, 4),
                    index = ['c', 'a', 'b', 'd'],
                    columns = [3, 2, 4, 1])
frame

      3     2     4     1
c   0.0   1.0   2.0   3.0
a   4.0   5.0   6.0   7.0
b   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0

In [7]:
frame.sort_index()

      3     2     4     1
a   4.0   5.0   6.0   7.0
b   8.0   9.0  10.0  11.0
c   0.0   1.0   2.0   3.0
d  12.0  13.0  14.0  15.0

In [9]:
frame.sort_index(axis=1) # 对我们的列来进行排序，是不是很cool呢

      1     2     3     4
c   3.0   1.0   0.0   2.0
a   7.0   5.0   4.0   6.0
b  11.0   9.0   8.0  10.0
d  15.0  13.0  12.0  14.0

In [10]:
frame.sort_index(ascending=False) # 按降序来进行排序

      3     2     4     1
d  12.0  13.0  14.0  15.0
c   0.0   1.0   2.0   3.0
b   8.0   9.0  10.0  11.0
a   4.0   5.0   6.0   7.0

In [11]:
# 同样的，我们可以进行sort_value来进行排序，这里我就不做过多的介绍了啦，自己尝试一下就可以，其实很简单的

In [13]:
# 进行排名的查找
ser2 = pd.Series([7, -5, 7, 4, 2, 0, 4])
ser2.rank()  # 这边下标为3，6对应的值是4，且他们的排名分布分别是4， 5 所以取平均值为4.5

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [14]:
ser2.rank(method='first')  # 加上first会第一次出现的排名就比较靠前，拉拉

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [15]:
ser2.rank(method='first', ascending=False)

0    1.0
1    7.0
2    2.0
3    3.0
4    5.0
5    6.0
6    4.0
dtype: float64

### END