In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

### 带有重复的索引啦

In [5]:
ser1 = pd.Series(np.arange(4.0), index=['a', 'a', 'b', 'c'])
ser1

a    0.0
a    1.0
b    2.0
c    3.0
dtype: float64

In [9]:
ser1.index.is_unique # 判断我们的索引是否有重复的值啦，哈，真的是完美哎呦

False

In [7]:
ser1['a']

a    0.0
a    1.0
dtype: float64

In [10]:
frame = pd.DataFrame(np.arange(12.0).reshape(4, 3),
                    index=['a', 'a','b', 'b'],
                    columns=[1, 2, 3])
frame

     1     2     3
a  0.0   1.0   2.0
a  3.0   4.0   5.0
b  6.0   7.0   8.0
b  9.0  10.0  11.0

In [13]:
frame.loc['a']

     1    2    3
a  0.0  1.0  2.0
a  3.0  4.0  5.0

In [15]:
frame.iloc[1]

1    3.0
2    4.0
3    5.0
Name: a, dtype: float64

### END